
	<div class="jumbotron text-center">
			<h2 >Tibi hoc incredibile, quod beatissimum.</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quae enim adhuc protulisti, popularia sunt, ego autem a te elegantiora desidero. </p>	
			<div class="btn-group btn-group-lg">
				<button class="btn btn-warning active"> Get Started</button>
				<button class="btn btn-warning">Know More</button>
				<button class="btn btn-warning"> Download</button>
			</div>
	</div>
	<div class="container">
		<center>
			<img class="img-responsive" src="images/under_construction.gif" width="360px" height="480px">
		</center>
		<br>
		<hr>
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
						<!-- <img src=".."> -->
						<div class="caption">
							<h3>Recent News </h3>
								<div class="list-group">
										<a class="list-group-item active" href="#"> News 1</a>
										<a class="list-group-item" href="#"> News 2</a>
										<a class="list-group-item" href="#"> News 3</a>
										<a class="list-group-item" href="#"> News 4</a>
								</div>	
						</div>
				</div>
			</div>
				<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
						<!-- <img src=".."> -->
						<div class="caption">
							<p><h3>Contact </h3></p>
								<p>Armament Colony <br>
								P-Type, 85/15,Ganeshkhind Road,<br>
								Aundh, pune.<br>
								Pincode :- 411007.<br>
								India.</br>
								Tel:
								<a href="tel:+91 9021414346">9021414346</a><br>
								E-mail:
								<a href="mailto:santosh.suryawanshi28@gmail.com">santosh.suryawanshi28@gmail.com</a>
								</p>	
								<br>
								<br>

						</div>
				</div>
			</div>
		</div>

	</div>

<!-- <div class=".container">
	<h1>Crawl Issue</h1>
<p>I'm constantly getting connect failures for some reason.
The really strange thing is that every once in a while (probably 10 in 100) the query will work.
It doesn't seem like it times out and it looks like robots.txt isn't interfering, so I'm kind of at a loss on what could be causing it.
I have been using YQL for my various other project on which it working vary much fine but for first time i have face this issue.
kindly help me out.</p>

	<button class="btn btn-default"> Click Me 1</button>
	<button class="btn btn-primary ">Click Me 2</button>
	<button class="btn btn-info">Click Me 3</button>
	<button class="btn btn-success">Click Me 4</button>
	<button class="btn btn-warning">Click Me 4</button>
	<button class="btn btn-link">link</button>
	<button class="btn btn-danger">danger</button>
	<a href="#" class="btn btn-info" role="button">Link Button</a>
	<br><br><br>
<div class="btn-group-vertical">
<button class="btn btn-primary ">Click Me 2</button>
<button class="btn btn-primary ">Click Me 2</button>
<button class="btn btn-primary ">Click Me 2</button>
</div>
</div> -->

<footer>
	<div class="container">
	<center>Copyright 2016; Santosh Suryawanshi, All right reserved. Powered by : Santosh Suryawanshi</center>
	</div>
</footer>
